In [1]:
import pickle

import pandas as pd
import numpy as np
import os

import librosa

from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split

import keras
from keras.models import Sequential
from keras.layers import Conv1D, Conv2D, MaxPooling1D, Flatten, LSTM, Activation, Dropout, Dense



import src.convert_to_wav
from src.predict import pred_df, accuracy, pred_df_mf

Using TensorFlow backend.

WAV conversion complete

In [2]:
people_dict = {'rob' : 'male', 'jack' : 'male', 'lea' : 'female', 'justin' : 'male'}

## MODEL - 81.44%

### Uses all 8 emotions

In [3]:
model = 'original'
model_predictions = pred_df(model)
model_predictions[model_predictions['correct'] == False]

1/1 [==============================] - 0s 41ms/step
1/1 [==============================] - 0s 39ms/step
1/1 [==============================] - 0s 38ms/step
1/1 [==============================] - 0s 38ms/step
1/1 [==============================] - 0s 55ms/step
1/1 [==============================] - 0s 41ms/step
1/1 [==============================] - 0s 38ms/step
1/1 [==============================] - 0s 46ms/step
1/1 [==============================] - 0s 42ms/step
1/1 [==============================] - 0s 39ms/step
1/1 [==============================] - 0s 39ms/step
Accuracy = 27.27%

     name   actual  predicted  correct
0     lea  neutral    disgust    False
3    jack    angry      happy    False
4    jack  neutral    disgust    False
5  justin      sad      angry    False
6     rob    happy    disgust    False
7     lea  neutral  surprised    False
8     rob    angry    neutral    False
9    jack  neutral    disgust    False

## EMOTIONAL DECREASE - 89.91%

### Uses neutral/positive/negative by combining emotions

In [4]:
model = 'emotion'
model_predictions = pred_df(model)
model_predictions[model_predictions['correct'] == False]

1/1 [==============================] - 0s 45ms/step
1/1 [==============================] - 0s 38ms/step
1/1 [==============================] - 0s 44ms/step
1/1 [==============================] - 0s 38ms/step
1/1 [==============================] - 0s 40ms/step
1/1 [==============================] - 0s 58ms/step
1/1 [==============================] - 0s 44ms/step
1/1 [==============================] - 0s 39ms/step
1/1 [==============================] - 0s 39ms/step
1/1 [==============================] - 0s 39ms/step
1/1 [==============================] - 0s 39ms/step
Accuracy = 0.0%

      name   actual predicted  correct
0      lea  neutral  negative    False
1   justin    angry  negative    False
2      rob  neutral  positive    False
3     jack    angry  negative    False
4     jack  neutral  negative    False
5   justin      sad  negative    False
6      rob    happy  negative    False
7      lea  neutral  negative    False
8      rob    angry  negative    False
9     jack  neutral  negative    False
10  justin    happy  negative    False

## EMOTIONAL DECREASE AND MALE/FEMALE - 87.08%

In [5]:
model = 'dropemotion_mf'
model_predictions = pred_df_mf(model, people_dict)
model_predictions[model_predictions['correct'] == False]

1/1 [==============================] - 0s 42ms/step
1/1 [==============================] - 0s 41ms/step
1/1 [==============================] - 0s 39ms/step
1/1 [==============================] - 0s 38ms/step
1/1 [==============================] - 0s 38ms/step
1/1 [==============================] - 0s 43ms/step
1/1 [==============================] - 0s 38ms/step
1/1 [==============================] - 0s 38ms/step
1/1 [==============================] - 0s 38ms/step
1/1 [==============================] - 0s 38ms/step
1/1 [==============================] - 0s 72ms/step
Accuracy = 45.45%

      name          actual       predicted  gender  correct
0      lea  female_neutral    male_neutral  female    False
5   justin        male_sad    female_angry    male    False
6      rob      male_happy  female_neutral    male    False
7      lea  female_neutral    male_neutral  female    False
8      rob      male_angry    female_angry    male    False
10  justin      male_happy      male_angry    male    False

In [6]:
1/6

0.16666666666666666

## MALE FEMALE - 82.93%

In [4]:
model = 'mf'
model_predictions = pred_df_mf(model, people_dict)
model_predictions[model_predictions['correct'] == False]

1/1 [==============================] - 0s 52ms/step
1/1 [==============================] - 0s 38ms/step
1/1 [==============================] - 0s 42ms/step
1/1 [==============================] - 0s 43ms/step
1/1 [==============================] - 0s 38ms/step
1/1 [==============================] - 0s 46ms/step
1/1 [==============================] - 0s 38ms/step
1/1 [==============================] - 0s 77ms/step
1/1 [==============================] - 0s 38ms/step
1/1 [==============================] - 0s 38ms/step
1/1 [==============================] - 0s 38ms/step
Accuracy = 27.27%

      name          actual       predicted  gender  correct
0      lea  female_neutral  female_disgust  female    False
3     jack      male_angry    male_disgust    male    False
4     jack    male_neutral    male_disgust    male    False
5   justin        male_sad  female_disgust    male    False
6      rob      male_happy  female_disgust    male    False
7      lea  female_neutral    male_disgust  female    False
8      rob      male_angry  female_disgust    male    False
10  justin      male_happy    male_fearful    male    False

## MALE/FEMALE NO DISGUST - 82.90%

In [6]:
model = 'nodisgust_mf'
model_predictions = pred_df_mf(model, people_dict)
model_predictions[model_predictions['correct'] == False]

1/1 [==============================] - 0s 38ms/step
1/1 [==============================] - 0s 42ms/step
1/1 [==============================] - 0s 40ms/step
1/1 [==============================] - 0s 40ms/step
1/1 [==============================] - 0s 38ms/step
1/1 [==============================] - 0s 38ms/step
1/1 [==============================] - 0s 38ms/step
1/1 [==============================] - 0s 38ms/step
1/1 [==============================] - 0s 39ms/step
1/1 [==============================] - 0s 40ms/step
1/1 [==============================] - 0s 40ms/step
Accuracy = 36.36%

      name          actual         predicted  gender  correct
0      lea  female_neutral      male_neutral  female    False
3     jack      male_angry        male_happy    male    False
5   justin        male_sad      male_fearful    male    False
6      rob      male_happy      male_neutral    male    False
7      lea  female_neutral  female_surprised  female    False
8      rob      male_angry  female_surprised    male    False
10  justin      male_happy        male_angry    male    False